<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Helvetica, sans-serif;
    }

    #Reproductor {
      width: 500px;
      height: 300px;
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    #Title {
      font-size: 30pt;
    }

  </style>
  <div id="Reproductor">
    <video src="#" controls=""></video>
    <span id="Title">Sin titulo</span>
    <span id="Description">Sin descripcion</span>
  </div>
</body>

</html>